  <div class="card center" style="width:80%">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #menuForm="ngForm">
            <div class="form-group">
              <label for="name">nazwa dania</label>
              <input type="text" class="form-control" id="name"
              required
              [(ngModel)]="name" name="name">
            </div>
            <div class="form-group">
                <label for="description">opis dania</label>
                <input type="text" class="form-control" id="description"
                required
                [(ngModel)]="description" name="description">
            </div>
            <div class="form-group">
                <label for="price">cena</label>
                <input type="number" class="form-control" id="price"
                required
                [(ngModel)]="price" name="price">
            </div>
            <div class="form-group">
                <label for="kcal">wartość kaloryczna</label>
                <input type="number" class="form-control" id="kcal"
                required
                [(ngModel)]="kcal" name="kcal">
            </div>
            <div class="form-group">
                <label for="url">zdjęcie dania</label>
                <input type="url" class="form-control" id="url"
                required
                [(ngModel)]="url" name="url">
            </div>
      
            <button type="submit" class="btn btn-success" [disabled]="!menuForm.form.valid">Submit</button>
      
          </form>
    </div>
</div>