<div class="card center" style="max-width: 1000px;">
    <button type="button" class="btn btn-success" routerLink="/AddRestaurant" style="margin:5px;">Dodaj nową Restaurację</button>
    <hr/>
    <h3 class="text-center">Informacje o sieci lokalów</h3>
    <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/06.bbc-gf-october-hot-pot-dps.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">
            Good Food to tytuł kulinarny klasy Premium. Zabiera w podróż dookoła świata,
            w której ograniczeniem nie są tajemnicze składniki o fascynująco brzmiących nazwach, lecz jedynie wyobraźnia kucharza.
        </p>
        <p class="card-text">
            Na łamach Good Food gotują największe sławy kulinarne, zdobywcy gwiazdek Michelin i laureaci światowych konkursów cukierniczych.
            Z Good Food przygotujesz najbardziej wyrafinowane potrawy krok po kroku.
            Wszystkie przepisy są bardzo starannie sprawdzone, a gwarancją ich wysokiej jakości jest rzetelność BBC
        </p>
    </div>
    
</div>