

<div class="card center" style="width:80%">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #menuForm="ngForm">
            <div class="form-group">
              <label for="name">opis promocji</label>
              <input type="text" class="form-control" id="name"
              required
              [(ngModel)]="name" name="name">
            </div>
            <div class="form-group">
                <label for="value">wartość promocji</label>
                <input type="number" class="form-control" id="value"
                required
                [(ngModel)]="value" name="value">
              </div>
      
            <button type="submit" class="btn btn-success" [disabled]="!menuForm.form.valid">Submit</button>
      
          </form>
    </div>
</div>