
<div class="card center" style="width:80%">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">opis promocji</label>
                <input class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="form-group">
                <label for="inputState">wartość promocji</label>
                <select id="inputState" class="form-control">
                  <option selected>wybierz</option>
                  <option>5%</option>
                  <option>10%</option>
                  <option>15%</option>
                  <option>20%</option>
                  <option>25%</option>
                  <option>30%</option>
                  <option>35%</option>
                  <option>40%</option>
                </select>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
