<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">GoodFood</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
      <form class="form-inline my-2 my-lg-0 center">
        <select class="form-control form-control-lg col-8" (change)="onChange($event.target.value)">
          <option [value]= "0">Wybierz Restaurację</option>
          <option *ngFor="let restaurant of restaurats | async"  [value]= "restaurant.id">{{restaurant.name}}</option>
        </select>
        <button class="btn btn-outline-success my-2 my-sm-0 margin" (click)="onClick()">Szukaj</button>
      </form>
    </div>
  </nav>
