

<div class="card center" style="width:80%">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #menuForm="ngForm">
            <div class="form-group">
              <label for="name">nazwa</label>
              <input type="text" class="form-control" id="name"
              required
              [(ngModel)]="name" name="name">
            </div>     
            <button type="submit" class="btn btn-success" [disabled]="!menuForm.form.valid">Submit</button>    
          </form>
    </div>
</div>
