  <div class="card center" style="width:80%">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #menuForm="ngForm">
            <div class="form-group">
              <label for="name">nazwa restauracji</label>
              <input type="text" class="form-control" id="name"
              required
              [(ngModel)]="name" name="name">
            </div>
            <div class="form-group">
                <label for="description">opis restauracji</label>
                <input type="text" class="form-control" id="description"
                required
                [(ngModel)]="description" name="description">
            </div>
            <div class="form-group">
                <label for="city">miasto</label>
                <input type="text" class="form-control" id="city"
                required
                [(ngModel)]="city" name="city">
            </div>
            <div class="form-group">
                <label for="street">ulica</label>
                <input type="text" class="form-control" id="street"
                required
                [(ngModel)]="street" name="street">
            </div>
            <div class="form-group">
                <label for="number">numer lokalu</label>
                <input type="text" class="form-control" id="number"
                required
                [(ngModel)]="number" name="number ">
            </div>
            <div class="form-group">
              <label for="postCode">kod pocztowy</label>
              <input type="text" class="form-control" id="postCode"
              required
              [(ngModel)]="postCode" name="postCode">
          </div>
            <button type="submit" class="btn btn-success" [disabled]="!menuForm.form.valid">Submit</button>
      
          </form>
    </div>
</div>